MONGODB_URI=mongodb+srv://phelleeks_db_user:40943195@cluster0.furswdt.mongodb.net/?appName=Cluster0
PORT=5000
JWT_SECRET=3e91c0098e4e8c57f5085afd9968105ec3dcb682d9e091f3dca2f0b7ea92a5e3af658cf935f27b2331b33b56ff3c8f1ff4d377230401e408f37161e1dd2009fc
ORS_API_KEY=your_openrouteservice_api_key_here

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Email Configuration (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=swiftmoversndelivery@gmail.com
SMTP_PASS=mvpy enmm rfob bgoh
SMTP_FROM=swiftmoversndelivery@gmail.com

CLOUDINARY_CLOUD_NAME=dombahggz
CLOUDINARY_API_KEY=163954183347693
CLOUDINARY_API_SECRET=NByrQUeQc4YKsk0G0r86RgHA4ek