
.container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    border-radius: 10px;
}