/* ServiceSelector Component Styles */
.service-selector-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  margin-left: 20px;
  width: 619px;
  border-color: #999999;
  border-radius: 0.75rem;
}

.service-selector-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1rem;
}

.service-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: -20px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 0.75rem;
  margin-left: 10px;
}

.service-option {
  cursor: pointer;
  position: relative;
}

.service-radio {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.service-card {
  background-color: #ffffff;
  border: 2px solid #e0e0e0;
  color: #fff;
  border-radius: 0.75rem;
  transition: all 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.service-option:hover .service-card {
  border-color: #0693e3;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(6, 147, 227, 0.15);
}

.service-option.active .service-card {
  color: #ffff;
  background-color: #dd3333;
  box-shadow: 0 4px 12px rgba(221, 51, 51, 0.2);
}

.service-icon {
  font-size: 2.5rem;
  color: #999999;
  transition: color 0.3s ease;
}

.service-option:hover .service-icon {
  color: #0693e3;
}

.service-option.active .service-icon {
  color: #ffff;
  background-color: #dd3333;

}

.service-label {
  font-size: 1.125rem;
  font-weight: 600;
  color: #333333;
}

.service-description {
  font-size: 0.875rem;
  color: #666666;
  margin: 0;
}

.delivery-info{
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  border-top: none;
  padding:10px;
  margin-top: -10px;
  margin-bottom: 2rem;
}
.delivery-info-title{
  text-align: center;
}
.form-label{
  text-align: center;
}
.receipient-details{
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding:10px;
}


@media (max-width: 640px) {
  .service-options {
    grid-template-columns: 1fr;
  }
}